{% extends "base.njk" %}

{% block content %}
    <!-- Hero Section START -->
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div class="hero__container uk-flex uk-flex-column uk-flex-center">
        <h2 class="hero__title--about">
          {{ title }}
        </h2>
        <img data-src="/assets/images/watercolor_26.png" width="300" height="70" alt="Abstract watercolor brush accent"
          uk-img />
        <p class="hero__subtitle">
          {{ client }}
        </p>
      </div>
      <div>
        <img class="case-study__cover" data-src="{{ cover_image }}" width="550" height="550"
          alt="Abstract illustration" uk-img />
      </div>
    </div>
  </div>
</div>
<!-- Hero Section END -->

<!-- Main Content Section START -->
<div class="uk-section uk-section-default uk-padding-remove-top">
  <div class="uk-container uk-container-small">
    <article class="uk-article article__container">
      {{ content | safe }}
  </div>
</div>
<!-- Main Content Section END -->

<!-- More Case Studies Section START -->
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" uk-grid>
      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card uk-flex uk-flex-between uk-flex-column">
          <div class="uk-card-media-top">
            <img src="/assets/images/city-art-street-building-4481012.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Media Top</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span><span
              class="uk-badge card__badge card__badge--green">Blog</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->

      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card uk-flex uk-flex-between uk-flex-column">
          <div class="uk-card-media-top">
            <img src="/assets/images/cold-snow-wood-light-4481021.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->

      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card uk-flex uk-flex-between uk-flex-column">
          <div class="uk-card-media-top">
            <img src="/assets/images/sunrise-hills-dew-lake-district-4481017.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Media Top</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span><span
              class="uk-badge card__badge card__badge--green">Blog</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->
    </div>
  </div>
  <!-- See More Button START -->
  <h4 class="button--load-more uk-link-reset"><a href="#">See All <span uk-icon="arrow-right"></span></a></h3>
    <!-- See More Button END -->
</div>
<!-- More Case Studies Section END -->
{% endblock content %}
