.button--cta {
    letter-spacing: 1px;
    color: rgba(185, 125, 0, 1);
    border: 0px solid rgba(35, 157, 219, 0);
    background-color: rgba(253, 237, 204, 1);
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.6;
    transition-duration: 0.50s;
    transition-property: color, box-shadow, background, border-color;
    max-width: fit-content;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(253, 224, 165, 0.12), 0px 10px 20px rgba(232, 201, 136, 0.18);
    svg {
        margin-left: 10px;
    }
}

.button--cta:hover {
    color: rgba(143, 98, 0, 1);
    background-color: rgba(251, 221, 162, 0.8);
}

.posts-grid__card {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.1);
    transition: all .3s linear;
    &:hover {
        box-shadow: 0px 5px 10px -5px rgba(30,30,60,0.1);
    }
}

.card__title {
    letter-spacing: 0.5;
    font-weight: 900;
}

.card__excerpt {
    color: #2d2d2d;
}

.card__badge {
    text-transform: uppercase;
    margin-right: 8px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 6px rgba(253,224,165,0.12), 0px 10px 20px rgba(232,201,136,0.18);
    &--green {
        background: #d8fbe0;
        color: #147132;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 6px rgba(216,251,224,0.5), 0px 10px 20px rgba(216,251,224,0.3);
        &:hover {
            color: #147132;
        }
    }
}

.footer__container {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 20px 25px -4px rgba(30, 30, 60, 0.06);
}

.footer__inner-container {
    background-image: linear-gradient(to bottom, rgba(248, 246, 245, 0.9), rgba(248, 246, 245, 0.9)), url(/assets/images/watercolor_19.png);
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 20px 25px -4px rgba(30,30,60,0.06);
}

.footer__divider:after {
    border-top: 2px solid #2d2d2d;
}

.button--load-more {
    margin-top: 40px;
    text-align: center;
    font-weight: 600;
    transition: all .3s linear;
    &:hover {
        color:#787878;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.1);
    transition: all .3s linear;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    cursor: pointer;
    &:hover {
        box-shadow: 0px 5px 10px -5px rgba(30,30,60,0.1);
    }
}

.info-box__container {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 20px 25px -4px rgba(30,30,60,0.06);
    color:black;
}

.info-box__inner-container {
    background-image: linear-gradient(to bottom,rgba(248,246,245,0.9),rgba(248,246,245,0.9)),url(/assets/images/watercolor_8.png);
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 20px 25px -4px rgba(30,30,60,0.06);
    padding: 40px;
}

.info-box__title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 1.3em;
    color:black;
}

.info-box__icon {
    color: black;
}

.info-box__divider {
    border-top: 2px solid #2d2d2d;
    margin: 35px 0;
}

.info-box__column-title {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.1px;
    line-height: 1.5em;
}

.info-box__column-content {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.9em;
}

.about_team-image {
    border-radius: 5px;
    box-shadow: 0px 2px 10px -4px rgba(30, 30, 60, 0.3);
}

.portfolio__main-card {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.1);
    transition: all .3s linear;
    &:hover {
        box-shadow: 0px 5px 10px -5px rgba(30,30,60,0.1);
    }
}

.portfolio__title {
    letter-spacing: 0.5;
    font-weight: 900;
    font-size: 36px;
}

.approach__section {
    color: #2d2d2d;
}

.approach__title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 1.3em;
}

.approach__subtitle, .approach__secondary-subtitle {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.9em;
}

.approach__secondary-title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.5em;
}