.hero__title {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: -1.5px;
}

.hero__subtitle {
    font-size: 17px;
    color: #787878;
    margin-bottom: 40px;
}

// .hero__container {
//     flex: 1 1 auto;
// }

