<div>
    <div class="uk-card uk-card-default posts-grid__card">
        <div class="uk-card-media-top">
            <img src="{{ post.mainImage.asset | lqip }}" 
                data-src="{{ post.mainImage.asset.url | urlForCard(600) }}"
                width="600" height="500" alt="{{ post.mainImage.alt }}" uk-img/>
        </div>
        <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
                <a class="uk-link-reset" href="/{{ post.slug.current | url }}">{{ post.title }}</a>
            </h3>
            <p class="card__excerpt">
                {{ post.excerpt | truncate(250) }}
            </p>
        </div>
        <div class="uk-card-footer">
            {%- for tag in post.categories -%}
                {% if tag.title === "Case Study" %}
                    <span class="uk-badge card__badge">Case Study</span>
                {% endif %}
                {% if tag.title === "Blog" %}
                    <span class="uk-badge card__badge card__badge--green">Blog</span>
                {% endif %}
            {%- endfor -%}
        </div>
    </div>
</div>
