---
layout: "base.njk"
title: "Oops! Not Found"
permalink: "404.html"
---
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <h1 class="hero__title">404 | {{ title }}</h1>
    <h4>The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</h4>
    <hr/>
    <h4 class="uk-margin-remove-top"><a class="uk-link-muted" href="/"><span class="uk-margin-small" uk-icon="icon: arrow-right"></span> Click here to go back to the Homepage</a></h4>
  </div>
</div>
