---
layout: "base.njk"
title: "Home"
templateEngineOverride: njk
---

<!-- Hero Section START -->
<div class="uk-section uk-section-default uk-padding-remove-bottom" style="min-height: 65vh;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m" uk-grid>
      <div class="hero__container uk-flex uk-flex-column uk-flex-center">
        <h2 class="hero__title">
          We build lightweight, modern websites for small and big
          companies
        </h2>
        <p class="hero__subtitle">located in Cumbria, United Kingdom. 🇬🇧</p>
        {% include "get_estimate_btn.njk" %}
      </div>
      <div>
        <img data-src="/assets/images/hero_illustration.png" alt="Abstract illustration" width="580" height="580"
          uk-img/>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section END -->
<!-- Trustpilot Section START -->
<div class="uk-section uk-section-default uk-padding-remove-bottom" style="min-height: 430px;">
  <div class="uk-container">
    <img class="bh__trustpilot-logo" data-src="assets/images/trustpilot_logo.png" alt="Trustpilot logo" uk-img />
    <!-- Elfsight Trustpilot Widget START -->
    <div>
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-68651a1b-f9a8-4b9a-a405-f3b4f159b024"></div>
    </div>
    <!-- Elfsight Trustpilot Widget END -->
  </div>
</div>
<!-- Trustpilot Section END -->
<!-- Posts Grid Section START -->
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
      <!-- {% set home_page_posts = collections.home_page | reverse %} -->
      {% for post in posts %}
        <!-- Card Component START -->
        {% include "card.njk" %}
        <!-- Card Component END -->
      {% endfor %}
    </div>
  </div>
  <!-- Load More Button START -->
  {% if posts | length > 9 %}
    <h4 class="button--load-more uk-link-reset"><a href="/our-work">Read All</a></h3>
  {% endif %}
  <!-- Load More Button END -->
</div>
<!-- Posts Grid Section END -->
