---
layout: "base.njk"
title: "Our Work"
pagination:
  data: collections.home_page
  size: 4
  reverse: true
---

{% assign first_post = pagination.items | first %}

<h1>{{ first_post.data.title }}</h1>

{%- for post in pagination.items -%}

<article class="post">
  <a href="{{ post.url | url }}">{{ post.data.title | capitalize }}</a>
</article>
{%- endfor -%}

{% if pagination.pageLinks.length > 1 %}
<nav class="pagination">
  {% if pagination.previousPageLink %}
  <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
  {% else %}
  <span class="pagination__item">Newer Articles</span>
  {% endif %}

  {% if pagination.nextPageLink %}
  <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older Articles</a>
  {% else %}
  <span class="pagination__item">Older Articles</span>
  {% endif %}
</nav>
{% endif %}

<!-- Hero Section START -->
<div class="uk-section uk-section-default uk-padding-remove-bottom">
  <div class="uk-container">
    <div class="uk-card uk-card-default portfolio__main-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img src="/assets/images/mw_photographic_branding.jpg" alt="Portfolio cover image" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div class="uk-flex uk-flex-column uk-flex-between">
        <div class="uk-card-body">
          <a class="uk-link-reset" href="/">
            <h2 class="uk-card-title portfolio__title">Media Left</h3>
          </a>
          <p class="portfolio__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt.</p>
        </div>
        <div class="uk-card-footer">
          <span class="uk-badge card__badge">Case Study</span><span
            class="uk-badge card__badge card__badge--green">Blog</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section END -->
<!-- Posts Grid Section START -->
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card">
          <div class="uk-card-media-top">
            <img src="/assets/images/city-art-street-building-4481012.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Media Top</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span><span
              class="uk-badge card__badge card__badge--green">Blog</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->

      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card">
          <div class="uk-card-media-top">
            <img src="/assets/images/cold-snow-wood-light-4481021.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->

      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card">
          <div class="uk-card-media-top">
            <img src="/assets/images/sunrise-hills-dew-lake-district-4481017.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Media Top</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span><span
              class="uk-badge card__badge card__badge--green">Blog</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->

      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card">
          <div class="uk-card-media-top">
            <img src="/assets/images/city-art-street-building-4481012.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Media Top</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span><span
              class="uk-badge card__badge card__badge--green">Blog</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->

      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card">
          <div class="uk-card-media-top">
            <img src="/assets/images/city-art-street-building-4481012.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Media Top</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span><span
              class="uk-badge card__badge card__badge--green">Blog</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->

      <!-- Card Component START -->
      <div>
        <div class="uk-card uk-card-default posts-grid__card">
          <div class="uk-card-media-top">
            <img src="/assets/images/city-art-street-building-4481012.jpg" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="card__title uk-card-title">
              <a class="uk-link-reset" href="#">Media Top</a>
            </h3>
            <p class="card__excerpt">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.
            </p>
          </div>
          <div class="uk-card-footer">
            <span class="uk-badge card__badge">Case Study</span><span
              class="uk-badge card__badge card__badge--green">Blog</span>
          </div>
        </div>
      </div>
      <!-- Card Component END -->
    </div>
  </div>
  <!-- Pagination START -->
  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <ul class="uk-pagination uk-flex-center" uk-margin>
        <li class="uk-disabled"><a href="#">
            <h4 class="button--load-more uk-link-reset"><a href="#"><span uk-icon="arrow-left"></span> Previous</a></h3>
          </a></li>
        <li><a href="#">
            <h4 class="button--load-more uk-link-reset"><a href="#">Next <span uk-icon="arrow-right"></span></a></h3>
          </a></li>
      </ul>
    </div>
  </div>
  <!-- Pagination END -->
</div>
<!-- Posts Grid Section END -->

