---
layout: "base.njk"
title: "Our Work"
pagination:
  data: posts
  size: 4
---

{% set first_post = pagination.items[0] %}
{% set paginated_posts = pagination.items %}

<!-- Hero Section START -->
<div class="uk-section uk-section-default uk-padding-remove-bottom">
  <div class="uk-container">
    <div class="uk-card uk-card-default portfolio__main-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left bh-card__img-container--wide">
        <img src="{{ first_post.mainImage.asset | lqip }}" 
                data-src="{{ first_post.mainImage.asset.url | urlForCard(600) }}"
                width="600" height="400" alt="{{ first_post.mainImage.alt }}" uk-img/>
      </div>
      <div class="uk-flex uk-flex-column uk-flex-between">
        <div class="uk-card-body">
            <h2 class="uk-card-title portfolio__title">
              <a class="uk-link-reset" href="/{{ first_post.slug.current | url }}">{{ first_post.title }}</a>
            </h2>
          <p class="portfolio__subtitle">{{ first_post.excerpt | truncate(350) }}</p>
        </div>
        <div class="uk-card-footer">
          {%- for tag in first_post.categories -%}
            {% if tag.title === "Case Study" %}
                  <span class="uk-badge card__badge">Case Study</span>
              {% endif %}
              {% if tag.title === "Blog" %}
                  <span class="uk-badge card__badge card__badge--green">Blog</span>
              {% endif %}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section END -->
<!-- Posts Grid Section START -->
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
      {%- for post in paginated_posts -%}
        {% if post !== first_post %}
          <!-- Card Component START -->
          {% include "card.njk" %}
          <!-- Card Component END -->
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
  <!-- Pagination START -->
  {% if pagination.pageLinks.length > 1 %}
  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <ul class="uk-pagination uk-flex-center" uk-margin>
    {% if pagination.previousPageLink %}
    <li><a href="{{ pagination.previousPageHref | url }}">
        <h4 class="button--load-more uk-link-reset"><span uk-icon="arrow-left"></span> Newer Articles</h4>
      </a></li>
    {% else %}
    <li><a class="uk-disabled" href="{{ pagination.previousPageHref | url }}">
        <h4 class="button--load-more uk-link-reset color--disabled"><span uk-icon="minus"></span> Newer Articles</h4>
      </a></li>
    {% endif %}
  
    {% if pagination.nextPageLink %}
    <li><a href="{{ pagination.nextPageHref | url }}">
        <h4 class="button--load-more uk-link-reset">Older Articles <span uk-icon="arrow-right"></span></h4>
      </a></li>
    {% else %}
    <li><a class="uk-disabled" href="{{ pagination.nextPageHref | url }}">
        <h4 class="button--load-more uk-link-reset color--disabled">Older Articles <span uk-icon="minus"></span></h4>
      </a></li>
    {% endif %}
  </ul>
  </div>
  </div>
  {% endif %}
  <!-- Pagination END -->
</div>
<!-- Posts Grid Section END -->

